body{
    background: url(images/tree.jpg) center center fixed;
    background-size: cover;
    color: #fff;
}
#header{
    text-align: center;
    font-size: 7vw;
/*    vw - means viewport-width*/
    
}
#lap{
    text-align: right;
    font-size: 4vw;
}
#time{
    text-align: center;
    font-size: 10vw;
}
#controlsContainer{
    margin-bottom: 100px;
}
.control{
    color: white;
    background-color: #d7A04e;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    text-align: center;
    padding: 2% 0;
    font-size: 2.5vw;
    cursor: pointer;
}